@import url('https://fonts.cdnfonts.com/css/clear-sans');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(172, 142, 93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#scoreboard{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.score-block{
    font-family: 'Clear Sans', sans-serif;
    font-weight: bold;
    color: white;
    display: flex; 
    justify-content: center;  
    align-items: center; 
    background-color: #e2a919;
    width: 42vmin;
    margin: 1vmin 1vmin 2.5vmin;
    border-radius: 1vmin;
    font-size: 5vmin;
    height: 10vmin; 
}


.score-block span{
    margin-left: 1vmin;
}

#game-board{
    --cell-size: 20vmin;
    --cell-gap: 2vmin;

    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.cell{
    background-color: #473425;
    border-radius: 1vmin;
}

.tile{
    --y:0;
    --x:0;

    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 20vmin;
    border-radius: 1vmin;
    font-family: 'Clear Sans', sans-serif;
    font-size: 8vmin;
    font-weight: bolder;
    background-color: hsl(25, 60%, var(--bg-lightness));
    color: hsl(20, 25%, var(--text-lightness));
    transition: 100ms;
    animation: show 200ms;
}

@keyframes show{
    0%{
        opacity: 0.5s;
        transform: scale(0);
    }
}